@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
bg-black text-white overflow-x-auto 
flex flex-col no-scrollbar  justify-evenly p-2 w-[100%] */
*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    &::-webkit-scrollbar{
        display: none;
    }


}

.row{
    background: #000;
    color: white;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 8px;
    width: 100%;
    
}


.banner{
    width: 100%;
    height: 65vh;
    filter: brightness(.3);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}



.divOnBanner{
    width: 75%;
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    top: 20vh;
    margin-left: 2vh;
    position: absolute;
    color: hsl(206, 6%, 77%);
    flex-wrap: wrap;


}

.divOnBanner p{
    word-spacing: 3px;
    letter-spacing: 2px;
    color: hsl(206, 6%, 77%);
    font-size: 2.6vh;
}

.divOnBanner h1{
    /* border: 2px solid red; */
    word-spacing: 3px;
    letter-spacing: 2px;
    margin-left: 2vh;
    color: hsl(0, 0%, 78%);
    font-size: 6.6vw;
    margin-top: 1vh;
}

.play{
    font-size: 2.6vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2vh;
    margin-left: 2vh;
    /* border: 1px solid red; */
    width: 12%;
    min-width:fit-content;
    height: 5vh;
    border-radius: 0.8vh;
    background: rgb(227, 211, 211);
    color: #000;
    
}


.mylist{
    font-size: 2.6vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2vh;
    /* border: 1px solid red; */
    width: 13%;
    min-width:fit-content;
    height: 5vh;
    margin-left: 2vh;
    border-radius: 0.8vh;
    background: rgba(61, 79, 85,0.7);
    color: #c0b0b0;
}

.mylist:hover{
    cursor: pointer;
    background: rgba(59, 70, 74, 0.7);


}


.play:hover{
    cursor: pointer;
    background: rgb(204, 202, 202);


}